.nav_root_pc {
    line-height: 1.5;
    font-size: 13px;
    background-color: #292929
}

.nav_sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 12
}

[class*=popup-is-disabled-scroll] .nav_sticky {
    z-index: 11
}

.nav_container_sticky {
    display: flex;
    width: 964px;
    height: 44px;
    margin: 0 auto;
    padding: 0 18px
}

.nav_ul {
    display: flex;
    align-self: center;
    flex-grow: 1;
    margin: -2px 0 0;
    padding: 0;
    list-style: none
}

.nav-item+.nav-item {
    margin-left: 22px
}

.nav-item-link {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    outline: 0;
    white-space: nowrap
}

.nav-item-link:hover {
    color: #ff6163
}

.counter_module {
    display: flex;
    align-self: center;
    margin-left: 15px
}

.a_container {
    display: flex
}

.a_container+.a_container {
    margin-left: 13px
}

.index-module-badge-_q_9_ {
    font-weight: 400!important
}

.link-dropdwon-login,.index-module-profile-AWXhu {
    margin: -2px 0 0 20px;
    align-self: center
}

.index-module-profile-AWXhu,.nav_root_pc:not(.nav_root_responsive):not(.index-module-narrowLayout-hoGLZ):not(.index-module-wideLayout-lSKnJ) .nav_container_sticky .index-module-profile-AWXhu {
    display: none
}

.index-module-username-bFXLV {
    min-width: 20px;
    max-width: 180px
}

.index-module-username-bFXLV .nav-item-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px
}

.index-module-username-bFXLV .nav-item-link span {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis
}

.index-module-username-bFXLV .index-module-dropdown-popup_left-g5Dv4 {
    left: 21px
}

.index-module-username-bFXLV .index-module-dropdown-popup_right-kpb4_ {
    right: 0
}

.index-module-avatar-fx_oB {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%
}

.nav-dropdown {
    position: relative
}

.dropdown-popup {
    border-top: 1px solid #dcdcdc;
    box-shadow: 0 5px 17px rgba(0,0,0,.15);
    background: #fff;
    border-radius: 4px
}

.dropdown-popup,.index-module-profile-menu-dropdown-_mUtA {
    position: absolute;
    top: 100%;
    display: none;
    min-width: 130px;
    margin-left: -10px;
    z-index: 1001
}

.index-module-username-bFXLV .dropdown-popup {
    min-width: 260px;
    max-height: calc(100dvh - 44px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.index-module-username-bFXLV .dropdown-popup::-webkit-scrollbar {
    display: none
}

.nav-dropdown:hover .dropdown-popup,.nav-dropdown:hover .index-module-profile-menu-dropdown-_mUtA {
    display: block
}

.add_button {
    margin-left: 22px;
    align-self: center
}

.index-module-narrowLayout-hoGLZ .nav_container_sticky {
    padding: 0;
    width: 100%;
    max-width: 930px
}

.index-module-wideLayout-lSKnJ .nav_container_sticky {
    padding: 0 24px;
    width: auto
}

.index-module-nav-catalogs-_9ZX2 {
    padding: 12px 0 16px
}

.catalog-item {
    display: inline-flex;
    cursor: pointer
}

.index-module-nav-catalog-item {
    padding: 4px 16px
}

@media screen and (min-width: 1334px) {
    .nav_root_responsive .nav_container_sticky {
        padding-left:6px;
        padding-right: 6px;
        width: 1304px
    }

    .index-module-profile-AWXhu {
        display: flex
    }

    .index-module-username-bFXLV .nav-item-link span {
        display: inline-block;
        margin-top: -2px
    }
}

@media screen and (min-width: 1366px) {
    .nav_root_responsive .nav_container_sticky {
        padding-left:16px;
        padding-right: 16px;
        width: 1316px
    }

    .index-module-narrowLayout-hoGLZ .nav_container_sticky {
        max-width: 1256px
    }

    .index-module-wideLayout-lSKnJ .nav_container_sticky {
        width: auto;
        padding: 0 24px
    }
}

.index-module-nav-item-business-U7iDN {
    margin-left: -8px
}

.index-module-nav-item-business-U7iDN+.nav-item {
    margin-left: 14px
}

.index-module-nav-link-business-n4fzr {
    border-style: solid;
    border-width: 2px 8px 3px;
    border-radius: 8px
}

.index-module-nav-link-business-color-ZE6sV {
    background: #000;
    border-color: #000
}

.index-module-nav-link-business-color-ZE6sV:hover {
    background: #292929;
    border-color: #292929
}

.index-module-root-_UwAE {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    list-style: none
}

.index-module-group-VAG9D {
    margin: 0;
    padding: 16px
}

.index-module-group-VAG9D+.index-module-group-VAG9D {
    border-top: 1px solid #eee
}

.index-module-profile-nav-item-ZUOtC {
    display: flex;
    text-align: left;
    justify-content: left
}

.index-module-profile-nav-item-ZUOtC+.index-module-profile-nav-item-ZUOtC {
    margin-top: 6px
}

.index-module-profile-nav-item_value-kUBA4 {
    color: #8f8f8f;
    text-align: right
}

.index-module-profile-nav-item_entirely-iEQKO {
    flex-direction: column
}

.index-module-profile-nav-item_exit-aAS8H a {
    --module-link-color: var(--theme-palette-gray44)
}

.index-module-profile-nav-item-bonus-alENv {
    display: block;
    margin-top: 6px
}

.index-module-link-grow-xc3qb {
    flex-grow: 1;
    display: flex;
    flex-direction: column
}

.index-module-profile-company-name-Uw74N {
    color: #8f8f8f
}

.index-module-rating-line-wbu44 {
    display: flex;
    align-items: center
}

.index-module-stars-_tjKs {
    width: 102px;
    display: inline-block;
    margin-right: 7px;
    margin-left: 3px;
    margin-top: -2px;
    line-height: 0
}

.index-module-pro-lk-nav-item-WJsmN {
    flex-direction: column
}

.index-module-pro-lk-label-a_nNU {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none
}

.index-module-pro-lk-icon-Y_TCq {
    display: inline-block;
    width: 69px;
    height: 18px;
    margin-bottom: 1px;
    background: url(/dstatic/build/assets/img/assets/d9fa51333a19eb3e.svg)
}

.index-module-pro-lk-label-a_nNU:hover .index-module-pro-lk-icon-Y_TCq {
    background: url(/dstatic/build/assets/img/assets/bc84d515094aca57.svg)
}

.index-module-pro-lk-onboarding-QL3gw {
    margin-left: 8px
}

.index-module-root-hSkuH {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none
}

.index-module-active-_Dqh6 {
    color: #ffb020
}

.index-module-half-star-nI_l4 {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden
}

.index-module-star-mu0m3 {
    display: block;
    position: relative;
    width: 20%;
    margin: 0;
    color: #e0e0e0
}

.index-module-with-hover-effect-D2P01 {
    transition: color .1s linear;
    cursor: pointer
}
