.hero {
  padding-bottom: 50px;
}
.hero__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}
.hero__item {
  display: block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-color: #f2f1f0;
  background-repeat: no-repeat;
  background-size: 110px 90px;
  background-position-x: 99%;
  min-height: 90px;
}
.hero__item:hover{
  background-color: #ebeae8;
}
.hero__item-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 14px;
}
.hero__item-link span{
  display: block;
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  width: 25%;
  text-align: left;
}
.hero__more {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100% !important;
}
.hero__more-img {
  min-width: 14px;
  min-height: 14px;
  transform: rotate(90deg);
}
.sale .swiper-button-disabled{
  display: none !important;
}
.sale .swiper-button-next{
  width: 36px;
  height: 36px;
  background-color: var(--light-color);
  background-image: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  rotate: 90deg;
  transform: translateX(20px) translateY(-9px);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.sale .swiper-button-next::after{
  display: none !important;
}

.sale .swiper-button-prev{
  width: 36px;
  height: 36px;
  background-color: var(--light-color);
  background-image: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: center;
  background-position-y: center;
  border-radius: 50%;
  rotate: -90deg;
  transform: translateX(-20px) translateY(-9px);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.sale .swiper-button-prev::after{
  display: none !important;
}
.sale__inner {
}
.sale__title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
.sale__title-wrapper{

}
.sale__slide{
  display: flex !important;
  align-items: stretch;
  gap: 8px;
}
.sale__title svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-color);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 3px;
  fill: var(--light-color);
  rotate: 90deg;
}
.sale__subtitle {
  margin: 5px 0 15px;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.swiper {
}
.saleSwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-next {
}
.swiper-button-prev {
}
