@keyframes styles-fadeIn-t7ien {
    0% {
        opacity: 0;
        margin-top: -5px
    }

    to {
        opacity: 1;
        margin-top: 0
    }
}

@keyframes slider-button-rotating-_C020 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.search-form-widget-root-padB8 {
    position: relative;
    padding: 20px 24px 24px;
    border-radius: 20px
}

.search-form-widget-root_noclick-_eCg_ {
    pointer-events: none
}

.search-form-widget-grid-GwE2u {
    width: 100%
}

.search-form-widget-filterWrapper-oTsIi {
    display: inline-block
}

.search-form-widget-wrapper-Y5fVb {
    width: 100%
}

.search-form-widget-wrapper-Y5fVb [class*=dropdown-dropdown-box] {
    z-index: 10
}

.search-form-widget-rootLoading-_CIGl {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(212,240,255,.5);
    border-radius: 20px
}

.search-form-widget-redesignedStr-LjMIE .search-form-widget-rootLoading-_CIGl {
    background-color: rgba(243,237,254,.5)
}

.search-form-widget-rootLoading_wrapper-_6WWE {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    width: 20px;
    height: 20px
}

.search-form-widget-rangeWrapper-Z5hAy {
    width: 100%
}

.search-form-widget-widgetColFluid-QgLrH {
    flex: 1 0 0;
    min-width: 0
}

.search-form-widget-root-padB8.search-form-widget-redesignedRe-kT8W_,.search-form-widget-root-padB8.search-form-widget-redesignedStr-LjMIE {
    padding: 36px 44px 32px;
    border-radius: 24px;
    background: linear-gradient(90deg,#e3f7ff 10%,#f4eefe 90%)
}

.search-form-widget-redesignedStr-LjMIE .search-form-widget-grid-GwE2u,.search-form-widget-title-K0j7R.search-form-widget-redesignedStr-LjMIE {
    width: 484px
}

.search-form-widget-redesignedRe-kT8W_ .search-form-widget-grid-GwE2u,.search-form-widget-title-K0j7R.search-form-widget-redesignedRe-kT8W_ {
    width: 550px
}

@media screen and (min-width: 1334px) {
    .search-form-widget-redesignedRe-kT8W_ .search-form-widget-grid-GwE2u,.search-form-widget-title-K0j7R.search-form-widget-redesignedRe-kT8W_ {
        width:876px
    }

    .search-form-widget-redesignedStr-LjMIE .search-form-widget-grid-GwE2u,.search-form-widget-title-K0j7R.search-form-widget-redesignedStr-LjMIE {
        width: 828px
    }
}

.styles-button-j4HXX {
    width: 100%;
    height: 40px;
    padding: 3px 9px 3px 16px;
    outline: 0;
    border-radius: 6px;
    background-color: rgba(255,255,255,.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    text-align: left
}

.styles-button-j4HXX:hover {
    background-color: #fff
}

.styles-button-j4HXX:focus {
    background-color: #fff;
    box-shadow: 0 0 0 3px #80d4ff
}

.styles-button__violet-UXz3d:focus {
    background-color: #fff;
    box-shadow: 0 0 0 3px #c2a0fa
}

.styles-button__title-eEwZ5 {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.styles-placeholder-fPLlu {
    color: #8f8f8f
}

.styles-root-EsVID {
    height: 510px;
    max-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 40px 48px;
    box-sizing: border-box
}

.styles-suggest-nNPGy>ul {
    padding-top: 4px;
    padding-bottom: 4px;
    max-height: 270px
}

.styles-suggest-nNPGy>input:focus::-webkit-input-placeholder {
    color: #ccc
}

.styles-suggest__item-MfPjq.styles-suggest__item-MfPjq {
    height: 32px
}

.styles-spinner-_EqRz {
    margin: auto
}

.styles-label-_ZXg4 {
    color: #8f8f8f
}

.styles-error-IrEfJ {
    color: #ff6163
}

.styles-parent-FSwAo {
    color: #8f8f8f
}

.styles-history-WsA4p {
    color: #8c4fe8
}

.styles-root-KB2Ex {
    display: inherit;
    width: inherit;
    position: relative
}

.styles-suggest-_wD_h {
    width: inherit;
    position: relative;
    --search-heigth: 40px;
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,.7);
    box-sizing: border-box;
    height: var(--search-heigth);
    border-radius: 6px;
    padding-left: 16px;
    padding-right: 10px
}

.styles-suggest-_wD_h.styles-suggest_focused-aloB3 {
    background-color: #fff;
    box-shadow: 0 0 0 3px #80d4ff
}

.styles-suggest__violet-vFjCm.styles-suggest_focused-aloB3 {
    background-color: #fff;
    box-shadow: 0 0 0 3px #c2a0fa
}

.styles-suggest-_wD_h:hover {
    background-color: #fff
}

.styles-suggest-_wD_h:active {
    background-color: rgba(255,255,255,.45);
    outline: 0
}

.styles-input-_H1sc {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
    padding: 8px 0 10px;
    margin-right: 20px
}

.styles-input-_H1sc::-webkit-input-placeholder {
    color: rgba(0,0,0,.54)
}

.styles-input-_H1sc::placeholder {
    color: rgba(0,0,0,.54)
}

.styles-reset-button-OSfRQ {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 0;
    background: url(/dstatic/build/assets/img/assets/605fd7d099717b9b.svg) no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0
}

.styles-reset-button_disabled-CeM9v {
    cursor: not-allowed;
    background: url(/dstatic/build/assets/img/assets/7c8a5b49021de2b8.svg) no-repeat
}

.styles-suggest_disabled-uQoX_ {
    border: 1px solid rgba(0,0,0,.16)
}

.styles-suggest-_wD_h.styles-suggest_disabled-uQoX_,.styles-suggest_disabled-uQoX_,.styles-suggest_disabled-uQoX_ .styles-input-_H1sc {
    cursor: not-allowed;
    background: 0 0;
    color: rgba(0,0,0,.28)
}

.styles-dropdown-_G6_A {
    position: absolute;
    top: var(--search-heigth);
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0/5%),0 4px 24px rgb(0 0 0/12%);
    border-radius: 6px;
    padding: 16px 0 24px;
    margin: 0
}

.styles-offer-T36w4 {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;
    padding: 8px 16px 10px
}

.styles-offer_hover-bYA92 {
    background: #f7f7f5
}

.highlighted-text-highlighted-suggest-A_Sww {
    display: -webkit-box;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    max-height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.styles-option-gNnOX {
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px
}

.styles-option-gNnOX:hover {
    background-color: #cfedff;
    cursor: default
}

.styles-option_selected-__1Rk,.styles-option_selected-__1Rk:hover {
    background-color: #0af
}

.styles-option_selected-__1Rk>span {
    color: #fff
}

.styles-optionDelimiter-ctkNt {
    pointer-events: none
}

.styles-optionDelimiter-ctkNt:hover {
    pointer-events: none;
    background-color: transparent;
    color: inherit
}

.styles-input-Wbs5N {
    width: 100%;
    border-radius: 6px;
    background-color: rgba(255,255,255,.7);
    border: 0;
    padding-left: 16px
}

.styles-input-Wbs5N input {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    background: 0 0
}

.styles-input-Wbs5N input:hover,.styles-input-Wbs5N:hover {
    background-color: #fff;
    cursor: pointer
}

.styles-input-Wbs5N>input+span:first-of-type {
    margin-left: 2px
}

.styles-input-Wbs5N:active {
    background: rgba(255,255,255,.45)
}

.styles-input-Wbs5N input:active {
    background: 0 0
}

.styles-input_actived-_ChAJ {
    background-color: #fff;
    box-shadow: 0 0 0 3px #80d4ff
}

.styles-input__violet-cXZe8.styles-input_actived-_ChAJ {
    background-color: #fff;
    box-shadow: 0 0 0 3px #c2a0fa
}

.styles-input_disabled-_Q8Gv {
    background: 0 0;
    border: 1px solid rgba(0,0,0,.16)
}

.styles-color-I4kUf:hover {
    background-color: #f2f1f0;
    cursor: pointer
}

.styles-dropdown-_O7cI {
    max-height: 365px;
    overflow-y: auto;
    border-radius: 6px;
    padding-top: 16px;
    padding-bottom: 24px
}

.styles-option-gNnOX .styles-optionText_size-Rip8f {
    font-size: 16px;
    line-height: 22px
}

.styles-dropdown-_O7cI .styles-option_active-GJrwJ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5dfd3
}

.styles-dropdown-_O7cI .styles-option_active-GJrwJ::after {
    content: '';
    background-image: url(/dstatic/build/assets/img/assets/c91d6c343467acd7.svg);
    background-repeat: no-repeat;
    background-size: 15px 10px;
    background-position: center;
    height: 20px;
    width: 20px
}

.styles-option_error-AJkdB {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column
}

.styles-option_loading-akDD3 {
    height: auto;
    display: flex;
    justify-content: center
}

.styles-option_error-AJkdB:hover,.styles-option_loading-akDD3:hover {
    background-color: transparent
}

.styles-reloadButton-yseot {
    display: block;
    margin-top: 4px
}

.dropdown-list-dropdown-list-Cw0co {
    position: relative;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 5px 17px 0 rgba(0,0,0,.15);
    outline: 0
}

.dropdown-dropdown-box-K93TH {
    display: inline-block;
    z-index: 1000
}

.styles-root-Km4Qy {
    font-weight: 400
}

.styles-reduced-H0rkV label {
    padding-left: 6px!important;
    padding-right: 6px!important
}

.styles-reduced-H0rkV label span {
    font-size: 12px!important
}

.styles-root-Km4Qy .styles-segmented-u0dVn {
    background-color: rgba(255,255,255,.7);
    border-radius: 6px
}

.styles-root-Km4Qy .styles-segmented-u0dVn>[class*=group-item] {
    margin-left: 0
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-segmentedButton-dOUL2 {
    position: relative;
    border: 0;
    box-shadow: none;
    margin-left: 0;
    background-color: rgba(255,255,255,.7)
}

.styles-root-Km4Qy .styles-segmented-u0dVn>div:first-child .styles-segmentedButton-dOUL2 {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.styles-root-Km4Qy .styles-segmented-u0dVn>div:last-child .styles-segmentedButton-dOUL2 {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-segmentedButton-dOUL2::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    width: 1px;
    height: 24px;
    background-color: #e0e0e0
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-segmentedButton-dOUL2[class*=selected] {
    background-color: #a1dfff;
    border-radius: 2px
}

.styles-root-Km4Qy .styles-segmented__violet-N50l1 .styles-segmentedButton-dOUL2[class*=selected] {
    background-color: #d5bdfb;
    border-radius: 2px
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-segmentedButton-dOUL2:active::after,.styles-root-Km4Qy .styles-segmented-u0dVn .styles-segmentedButton-dOUL2[class*=selected]::after,.styles-root-Km4Qy .styles-segmented-u0dVn>[class*=group-item] .styles-segmentedButton_checked-kFtab::after,.styles-root-Km4Qy .styles-segmented-u0dVn>[class*=group-item]:first-child .styles-segmentedButton-dOUL2::after {
    content: none
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-radioElement-_rQ8G {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-radioElement-_rQ8G span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-segmentedButton-dOUL2:not([class*=selected]):hover {
    background: #fff
}

.styles-root-Km4Qy .styles-segmented-u0dVn .styles-segmentedButton-dOUL2:not([class*=selected]):active {
    background-color: rgba(255,255,255,.45)
}

.styles-container-vQAcY {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.styles-numeric-range-wrapper-_TVU4 {
    width: 311px;
    height: 40px
}

.styles-numeric-range-wrapper_vertical-filters-urhPB {
    width: 195px
}

.styles-numeric-range-content-wrapper-Bm9VM {
    margin: 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.styles-numeric-range-content-item-PIAUX {
    flex-basis: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.styles-numeric-range-content-item-PIAUX:nth-child(2n) {
    padding-left: 10px
}

.styles-currency-_oz2v {
    margin-left: 5px
}

.styles-dimensions-__Err {
    width: 100px;
    margin-left: 5px
}

.styles-root-O8qZB .styles-redesignSelect-RG891 {
    width: 100%;
    height: 40px;
    padding: 3px 28px 3px 16px;
    outline: 0;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    background-color: rgba(255,255,255,.7);
    display: flex;
    align-items: center;
    box-shadow: none;
    border: 0
}

.styles-root-O8qZB .styles-redesignSelect-RG891 span {
    text-overflow: ellipsis
}

.styles-root-O8qZB .styles-redesignSelect-RG891:hover {
    background-color: #fff
}

.styles-root-O8qZB .styles-redesignSelect-RG891:active {
    background-color: rgba(255,255,255,.45)
}

.styles-root-O8qZB .styles-redesignSelect-RG891.styles-redesignSelect_active-_ePYA {
    background-color: #fff;
    box-shadow: 0 0 0 3px #80d4ff
}

.styles-root-O8qZB.styles-root__violet-_EKpp .styles-redesignSelect-RG891.styles-redesignSelect_active-_ePYA {
    background-color: #fff;
    box-shadow: 0 0 0 3px #c2a0fa
}

.styles-root-O8qZB .styles-redesignSelect-RG891.styles-redesignSelect_active-_ePYA::after {
    transform: rotate(180deg) translateY(50%)
}

.styles-container-vQAcY .styles-numericWrapper-ywhcq label {
    height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    background-color: #f2f1f0;
    border: 0;
    box-shadow: none
}

.styles-numericWrapper-ywhcq label:first-child {
    margin-right: 12px
}

.styles-numericWrapper-ywhcq label input {
    padding: 0 16px
}

.styles-numericWrapper-ywhcq label input:active,.styles-numericWrapper-ywhcq label input:focus {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 3px #80d4ff
}

.styles-root__violet-_EKpp .styles-numericWrapper-ywhcq label input:active,.styles-root__violet-_EKpp .styles-numericWrapper-ywhcq label input:focus {
    box-shadow: 0 0 0 3px #c2a0fa
}

.styles-numericRange_tooltip-_MowH {
    z-index: 10;
    border-radius: 6px;
    border-width: 0;
    padding-bottom: 20px
}

.styles-input-for-tab-RgCdi {
    position: absolute;
    left: -10000px;
    top: 0
}

.styles-root-g7mbH {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 30px 0 8px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 14px;
    line-height: 28px;
    -webkit-user-select: none;
    user-select: none;
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(142,142,142,.2);
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    cursor: pointer
}

.styles-root_placeholder-_CPtG {
    color: #8f8f8f
}

.styles-root_disabled-Lz5qS {
    color: #8f8f8f;
    background-color: #f5f5f5;
    cursor: default;
    pointer-events: none
}

.styles-root_active-ub82L,.styles-root_active-ub82L:hover {
    border-color: #0af;
    box-shadow: 0 0 3px 0 #7fd4ff,inset 0 1px 1px rgba(142,142,142,.2)
}

.styles-root-g7mbH:hover::after,.styles-root_active-ub82L::after,.styles-root_active-ub82L:hover::after {
    opacity: 1
}

.styles-root-g7mbH:hover {
    border-color: #b8b8b8
}

.styles-root-g7mbH::after {
    position: absolute;
    content: '';
    pointer-events: none;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    background-size: 10px 6px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(/dstatic/build/assets/img/assets/2aaa970bbe78aae4.svg)
}

.styles-root_datepicker-xG_eH::after {
    width: 13px;
    height: 13px;
    background-size: contain;
    background-image: url(/dstatic/build/assets/img/assets/8f7330db1fccf646.svg)
}

.styles-title-_7gRw {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap
}

.styles-root_redesigned-kdio8::after {
    position: absolute;
    content: '';
    pointer-events: none;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(/dstatic/build/assets/img/assets/88d37d29533f1592.svg)
}

.styles-root_disabled-Lz5qS.styles-root_datepicker-xG_eH,.styles-root_disabled-Lz5qS.styles-root_redesigned-kdio8 {
    background: 0 0;
    border: 1px solid rgba(0,0,0,.16)
}

.styles-root-vSsLn {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    vertical-align: middle
}

.styles-root-Pmtd3 input {
    vertical-align: baseline;
    padding-left: 1px
}

.ie .styles-root-Pmtd3 input {
    padding-top: 2px
}

.styles-root-Pmtd3::-webkit-input-placeholder {
    color: rgba(0,0,0,.48)
}

.styles-root-Pmtd3::-moz-placeholder {
    color: rgba(0,0,0,.48)
}

.styles-root-Pmtd3::-ms-input-placeholder {
    color: rgba(0,0,0,.48)
}

.styles-root-Pmtd3:-ms-input-placeholder {
    color: rgba(0,0,0,.48)!important
}

.styles-root-O4QmF {
    font-weight: 400
}

.styles-root_vertical-filters-SHKuo {
    width: 300px
}

.styles-tooltip-Fqyhl {
    animation: styles-fadeIn-t7ien .5s;
    font-weight: 400
}

.styles-button-wrapper-TlQzN {
    padding-top: 5px;
    text-align: right
}

.styles-root-O4QmF .styles-datePicker-WkSi2 {
    display: flex;
    align-items: center;
    padding: 3px 28px 3px 13px;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    border-radius: 6px;
    font-size: 16px;
    line-height: 22px;
    border: 0;
    outline: 0;
    box-shadow: none
}

.styles-root-O4QmF .styles-datePicker-WkSi2:hover {
    background-color: #fff
}

.styles-root-O4QmF .styles-datePicker-WkSi2:active {
    background-color: rgba(255,255,255,.45)
}

.styles-root-O4QmF .styles-datePicker-WkSi2 span {
    text-overflow: ellipsis;
    padding-left: 2px
}

.styles-root-O4QmF .styles-datePicker-WkSi2.styles-datePicker_active-Ni4pY {
    background-color: #fff;
    box-shadow: 0 0 0 3px #80d4ff
}

.styles-root__violet-onHOU .styles-datePicker-WkSi2.styles-datePicker_active-Ni4pY {
    background-color: #fff;
    box-shadow: 0 0 0 3px #c2a0fa
}

.styles-datepicker__tooltip-ym2EA {
    z-index: 10;
    border-radius: 6px;
    border: 0;
    width: 312px;
    box-sizing: border-box;
    padding: 24px 16px 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.styles-datepickerContent-gOqjS {
    transform: scale(1.05)
}

.multi-select-root-kxohV .multi-select-multiselect-_dGCN.multi-select-multiselect_active-V7sNs::after,.styles-datePicker-WkSi2.styles-datePicker_active-Ni4pY::after,.styles-root-KVjCN .styles-slider-_QAGS.styles-slider_active-tPcag::after {
    transform: rotate(180deg) translateY(50%)
}

.datepicker-root-Ypd7_ {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    margin: 0 -15px
}

.datepicker-next-F60tn,.datepicker-prev-Xho0w {
    position: absolute;
    top: 5px;
    cursor: pointer;
    background: url(/dstatic/build/assets/img/assets/43e9274e58937a15.svg) center no-repeat;
    background-size: 7px 12px;
    border: 0;
    overflow: hidden;
    text-indent: 9999px;
    font-size: 0;
    outline: 0;
    width: 12px;
    height: 16px;
    display: block
}

.datepicker-next-F60tn {
    right: 16px
}

.datepicker-prev-Xho0w {
    left: 16px;
    transform: rotate(180deg)
}

.datepicker-calendar-xlln1 {
    display: inline-block;
    padding: 0 10px 10px
}

.datepicker-title-yROcQ {
    text-align: center;
    padding: 5px 0;
    -webkit-user-select: none;
    user-select: none
}

.datepicker-table-pXMqA {
    border-spacing: 0
}

.datepicker-day-_LyPi,.datepicker-head-CtwWb {
    padding: 8px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none
}

.datepicker-head-CtwWb {
    font-size: 10px
}

.datepicker-weekend-o_Hoa {
    color: red
}

.datepicker-hoverable-_yG_A:hover {
    background-color: #d6f1ff;
    cursor: pointer
}

.datepicker-now-jKezx {
    font-weight: 700
}

.datepicker-sibling-Nolkd {
    color: #c2c2c2
}

.datepicker-disabled-v2irl {
    cursor: default;
    color: #c2c2c2;
    position: relative
}

.datepicker-disabled-v2irl::before {
    content: '';
    border-bottom: 1px solid #b8b8b8;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 50%
}

.datepicker-selected-_blay {
    color: #fff;
    background-color: #0af
}

.datepicker-highlighted-tfWlB.datepicker-disabled-v2irl::before,.datepicker-selected-_blay.datepicker-disabled-v2irl::before,.datepicker-selecting-Y8w3F.datepicker-disabled-v2irl::before {
    border-bottom: 1px solid #fff
}

.datepicker-hoverable-_yG_A.datepicker-selected-_blay:hover {
    background-color: #0af
}

.datepicker-selected_start-S4h31 {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.datepicker-selected_end-paBPL {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.datepicker-selecting-Y8w3F {
    color: #fff;
    background-color: #008ee0;
    border-radius: 0
}

.datepicker-hoverable-_yG_A.datepicker-selecting-Y8w3F:hover {
    background-color: #0081d1
}

.datepicker-selecting_start-lBA2Z {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.datepicker-selecting_end-skMbs {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.datepicker-highlighted-tfWlB {
    color: #fff;
    background-color: #0af
}

.datepicker-highlighted_start-_OCLp {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.datepicker-highlighted_end-sywe8 {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.datepicker-hoverable-_yG_A.datepicker-highlighted-tfWlB:hover {
    background-color: #0af
}

.datepicker-selected-_blay.datepicker-selecting-Y8w3F {
    border-radius: 0
}

.datepicker-selected_start-S4h31.datepicker-selecting_start-lBA2Z {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.datepicker-selected_end-paBPL.datepicker-selecting_end-skMbs {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.link-link-MbQDP {
    font: inherit;
    display: inline;
    padding: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    background: 0;
    outline: 0;
    line-height: inherit
}

.link-link-MbQDP:focus {
    box-shadow: 0 0 1px 3px rgba(0,170,255,.2)
}

.link-design-default-_nSbv,.link-design-default-_nSbv.link-novisited-UCnee:visited {
    color: #009cf0
}

.link-design-default-_nSbv:visited {
    color: #8c4fe8
}

.link-design-default-_nSbv:active,.link-design-default-_nSbv:hover,.link-design-default-_nSbv:visited:hover {
    color: #ff6163
}

.link-design-inherited-Ys4mw {
    opacity: var(--theme-link-opacity-default);
    color: inherit
}

.link-design-inherited-Ys4mw:visited {
    color: inherit
}

.link-design-inherited-Ys4mw:hover {
    opacity: var(--theme-link-opacity-hover)
}

.link-underline-solid-s9KKw {
    border-bottom: 1px solid currentColor
}

.link-underline-dashed-_xQqy {
    border-bottom: 1px dashed currentColor
}

.styles-tooltip-EG1II {
    border: 0;
    border-radius: 10px;
    max-width: 225px;
    padding: 10px 16px 12px;
    white-space: normal
}

.styles-tooltip-EG1II i::before {
    border: 0;
    -webkit-clip-path: url(#arrow-path);
    clip-path: url(#arrow-path);
    height: 24px;
    transform: none;
    width: 17px
}

.multi-select-root_side-filters-zuS5y {
    width: 300px
}

.multi-select-multi-select-list-flex-PQP5e,.multi-select-multi-select-list-ot7fv {
    margin: 0 0 0 -3px;
    padding: 0 0 0 3px;
    font-weight: 400;
    list-style: none;
    max-height: 295px;
    overflow-y: auto
}

.multi-select-multi-select-list-flex-PQP5e {
    display: flex;
    flex-flow: row wrap
}

.multi-select-list_colon-2-zZpH0,.multi-select-list_colon-3-_MecK,.multi-select-list_colon-4-_vDkZ,.multi-select-list_colon-5-OUFIh,.multi-select-list_colon-6-_oDpt {
    column-gap: 20px
}

.multi-select-list_colon-2-zZpH0 {
    column-count: 2
}

.multi-select-list_colon-3-_MecK {
    column-count: 3
}

.multi-select-list_colon-4-_vDkZ {
    column-count: 4
}

.multi-select-list_colon-5-OUFIh {
    column-count: 5
}

.multi-select-list_colon-6-_oDpt {
    column-count: 6
}

.multi-select-checkbox-color-addon-BE2vh {
    cursor: pointer;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-top: 6px;
    border-radius: 50%;
    position: absolute;
    right: 0
}

.multi-select-checkbox-color-list-item-_ozNC {
    padding-right: 35px
}

.multi-select-checkbox-list-item-kimz0 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    height: 40px;
    padding: 0 16px;
    cursor: pointer
}

.multi-select-checkbox-list-item-kimz0:hover {
    background-color: #f7f7f5
}

.multi-select-checkbox-list-item__text_size-_oKh_ {
    font-size: 16px;
    line-height: 22px
}

.multi-select-multi-select-list-flex-PQP5e .multi-select-checkbox-list-item-kimz0 {
    flex: 1 1 100%
}

.multi-select-multi-select-list-flex-PQP5e .multi-select-checkbox-list-item-kimz0 label {
    width: 100%;
    margin-left: -4px;
    margin-right: -4px
}

.multi-select-multi-select-list-flex-PQP5e .multi-select-checkbox-list-item-kimz0 span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 26px
}

.multi-select-multi-select-list-flex-PQP5e .multi-select-checkbox-list-item-kimz0 span::before {
    background-position: 1px 2px
}

.multi-select-list-flex_colon-2-PhpBy .multi-select-checkbox-list-item-kimz0 {
    flex: 1 1 50%;
    max-width: 50%;
    box-sizing: border-box
}

.multi-select-list-flex_colon-2-PhpBy .multi-select-checkbox-list-item-kimz0:nth-of-type(2n) {
    padding-left: 10px
}

.multi-select-list-flex_colon-2-PhpBy .multi-select-checkbox-list-item-kimz0:nth-of-type(2n-1) {
    padding-right: 10px
}

.multi-select-scroll-BQOMF {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: -4px;
    padding-left: 4px
}

.multi-select-scroll-shadow-BGiRH {
    position: relative
}

.multi-select-scroll-shadow-bottom-fllrZ.multi-select-scroll-shadow-BGiRH::after,.multi-select-scroll-shadow-top-_eIFd::before {
    content: '';
    position: absolute;
    left: 0;
    width: 330px;
    height: 20px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    background: url(/dstatic/build/assets/img/assets/70cdc9e0a112583f.png) no-repeat top
}

.multi-select-scroll-shadow-top-_eIFd::before {
    top: 0;
    transform: rotate(180deg)
}

.multi-select-scroll-shadow-bottom-fllrZ.multi-select-scroll-shadow-BGiRH::after {
    bottom: 0
}

.multi-select-expand-QZubb {
    background: 0 0;
    border: 0;
    color: #0091d9;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    margin-top: 5px;
    outline: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none
}

.multi-select-expand-QZubb:hover {
    color: #ff6163
}

.multi-select-root-kxohV .multi-select-multiselect-_dGCN,.styles-root-KVjCN .styles-slider-_QAGS {
    display: flex;
    align-items: center;
    padding: 3px 13px;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    border-radius: 6px;
    font-size: 16px;
    line-height: 22px;
    border: 0;
    outline: 0;
    box-shadow: none
}

.multi-select-root-kxohV .multi-select-multiselect-_dGCN:hover {
    background-color: #fff
}

.multi-select-root-kxohV .multi-select-multiselect-_dGCN:active {
    background-color: rgba(255,255,255,.45)
}

.multi-select-root-kxohV .multi-select-multiselect-_dGCN span {
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 14px
}

.multi-select-root-kxohV .multi-select-multiselect-_dGCN.multi-select-multiselect_active-V7sNs {
    background-color: #fff;
    box-shadow: 0 0 0 3px #80d4ff
}

.multi-select-root-kxohV.multi-select-root__violet-oFTTx .multi-select-multiselect-_dGCN.multi-select-multiselect_active-V7sNs {
    box-shadow: 0 0 0 3px #c2a0fa
}

.multi-select-multiselect__tooltip-MdoTH {
    z-index: 10;
    border-width: 0;
    border-radius: 6px;
    padding: 16px 0 24px
}

.multi-select-checkbox-item-_rvm8 {
    width: 100%
}

.styles-root-KVjCN {
    font-weight: 400
}

.styles-slider-filter-checkbox-hHRZa {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end
}

.styles-slider-filter-checkbox_left-dGxcl {
    justify-content: flex-start
}

.styles-slider-filter-content-wrapper-Batk3 {
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.styles-slider-filter-content-item-_qIH_ {
    margin: 0;
    padding: 0;
    width: 140px;
    box-sizing: border-box
}

.styles-slider-width-Ll0mI {
    width: 260px
}

.styles-slider-full-width-DMzFO {
    width: 300px
}

.styles-root-KVjCN .styles-slider-_QAGS:hover {
    background-color: #fff
}

.styles-root-KVjCN .styles-slider-_QAGS:active {
    background-color: rgba(255,255,255,.45)
}

.styles-root-KVjCN .styles-slider-_QAGS span {
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 12px
}

.styles-root-KVjCN .styles-slider-_QAGS.styles-slider_active-tPcag {
    background-color: #fff;
    box-shadow: 0 0 0 3px #80d4ff
}

.styles-slider__tooltip-_w8AM {
    z-index: 10;
    border-radius: 6px;
    padding: 24px 16px 26px;
    border: 0
}

.slider-root-OdZKH {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 14px;
    line-height: 16px;
    position: relative
}

.slider-root_disabled-j37KJ {
    opacity: .5
}

.slider-root_disabled-j37KJ,.slider-root_loading-d141z {
    pointer-events: none;
    cursor: default
}

.slider-track-DXDPx {
    display: flex
}

.slider-track-empty-_0Lmw {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    height: 5px;
    z-index: -1;
    border-radius: 2px;
    background-color: #f2f2f2;
    box-shadow: inset 0 0 0 1px #e1e1e1
}

.slider-track-filled-EugUy {
    display: inline-block;
    height: 5px;
    border-radius: 2px;
    background-color: #0af
}

.slider-container-_7Y1H {
    width: 100%;
    display: flex;
    align-items: center
}

.slider-fill-_HdQt {
    height: 5px;
    flex: 1
}

.slider-fill_full-bXY0t {
    background-color: #0af
}

.slider-fill_empty-EieHG {
    background-color: #f2f2f2;
    box-shadow: inset 0 0 0 1px #e1e1e1
}

.slider-thumb-LxZix {
    cursor: -webkit-grab;
    cursor: grab;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    min-height: 25px;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    outline: 0;
    padding: 4px 10px;
    z-index: 1;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    position: relative
}

.slider-thumb-LxZix::before {
    content: attr(data-values);
    white-space: pre;
    height: 0;
    overflow-y: hidden;
    clip: rect(0 0 0 0);
    display: block
}

.slider-thumb_content-Xthtq {
    overflow: hidden;
    width: 100%;
    height: 100%
}

.slider-thumb-LxZix:active,.slider-thumb-LxZix:hover {
    background-color: #f7f7f7
}

.slider-thumb-LxZix:focus {
    box-shadow: 0 0 1px 3px rgba(0,170,255,.2);
    z-index: 2
}

.slider-root_loading-d141z .slider-thumb-LxZix {
    color: transparent
}

.slider-root_loading-d141z .slider-thumb-LxZix::after {
    background-image: url(/dstatic/build/assets/img/assets/cf282d58d895c2af.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    animation: slider-button-rotating-_C020 1.4s infinite linear;
    content: ''
}

.slider-labels-hJglW {
    position: relative;
    padding-top: 8px
}

.slider-labels-hJglW::after {
    content: '';
    display: inline-block
}

.label-root-NLQrh {
    position: absolute;
    min-width: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block
}

.label-container-syffK {
    display: flex;
    height: 0;
    overflow-y: hidden;
    clip: rect(0 0 0 0)
}

.label-container-syffK::before {
    content: attr(data-values);
    white-space: pre;
    height: 0;
    overflow-y: hidden;
    clip: rect(0 0 0 0);
    display: block
}

.all-filters-button-suggestFilterIcon-NFfo2 {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0
}

.all-filters-button-filterIcon-XiFe_ {
    background: url(/dstatic/build/assets/img/assets/00ac51a3c91f9991.svg) no-repeat
}

.all-filters-button-filterIconDot-_Rwwh {
    background: url(/dstatic/build/assets/img/assets/b02534aacaf50c4b.svg) no-repeat
}

.all-filters-button-icon_disabled-AuvKD {
    opacity: .5
}

.all-filters-button-icon_withText-_zRJn {
    margin-left: -4px
}

.all-filters-popup-shadow-fD9BM+.all-filters-popup-footer-nMRb_,.all-filters-popup-shadow-fD9BM+.all-filters-popup-header-un5Os {
    box-shadow: 0 1px 3px rgba(0,0,0,.05),0 4px 24px rgba(0,0,0,.12)
}

.all-filters-popup-filtersPopup_font-_ru6F * {
    font-family: var(--theme-font-family)!important
}

.background-image-wrapper-_FSNc {
    display: block;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 324px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0
}

.background-image-image-nsGtx {
    display: block;
    width: 324px;
    height: 320px
}

